training/
logs/
wandb/
.ipynb_checkpoints/
cifar.gz
.vscode/
models/
FACES/False_Negatives/
FACES/False_Negatives2/
FACES/False_Positives/
FACES/False_Positives2/
FACES/test/
FACES/train/
FACES/val/
cifar
res10_300x300_ssd_iter_140000.caffemodel
haarcascade_frontalface_default.xml